<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Globe Tweet</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/vendor/css/boostrap.css">
  <link rel="stylesheet" type="text/css" href="/vendor/css/boostrap2.css">
    <link rel="stylesheet" type="text/css" href="/vendor/css/mapbox.css">
  <link rel="stylesheet" type="text/css" href="style.css">

<!-- link to google fonts-->
<!-- 	<link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'> -->
  <script type="text/javascript" src="/vendor/javascript/jquery.js"></script>
  <script type="text/javascript" src="/vendor/javascript/bootstrap.js"></script>
  <!-- <script type="text/javascript" src="/vendor/javascript/mapbox.js"></script> -->
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="/vendor/javascript/mapbox.js"></script>
  <script type="text/javascript" src="/javascripts/globe_tweet.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>


</head>
<body>

<div class = "container text-center">