<% include ../partials/header %>

    <title> 404</title>

  </head>
  <body>
    <div class="container page-content">
      <div class="col-md-1"></div>
      <div class="col-md-10" id="four-oh-four">
        <h1>404 - The page you are looking for is not available.</h1>
      </div>
       <div class="col-md-1"></div>
    </div>

  </body>
</html>