<% include ../partials/header %>

    <title>Home</title>
  </head>
  <body>
    <h1>Twitter Ebola Map</h1>
<p> Sign up or log in to access a map geo-tagging real time tweets that mention #ebola. </p>

<div class  = "buttonClass">
 <div class="button1">
<a href="/signup" class = "btn btn-primary btn-lg"> Sign Up </a>
</div>
<br>
<div class = "button2">
<a href="/login" class = "btn btn-primary btn-lg"> Login </a>
</div>
</div>



     </body>
</html>
